<div>
    <div class="container center">
        <input [(ngModel)]='myWidth'/>
    </div>
</div>

<div>
    <mat-radio-group>
        <mat-radio-button value="1" (click)='onSelectExtraSmallDevice()'>Extra Small Devices</mat-radio-button>
        <mat-radio-button value="2" (click)='onSelectSmallDevice()'>Small Devices</mat-radio-button>
        <mat-radio-button value="3" (click)='onSelectStandardDevice()'>Standard Devices</mat-radio-button>
        <mat-radio-button value="4" (click)='onSelectLargeDevice()'>Large Devices</mat-radio-button>
    </mat-radio-group>
</div>

<div>
  <!-- image grids -->
  <div class="container">
    <div class='row center'>
        <div class="col-xs-12">
            <img 
                (click)='onClickImage00()' 
                [class.selected]="outsetBorderImage00 == true" 
                [src]='imageContainer[0]' 
                [ngStyle]="{'max-width': 100, 'width': myWidth}">
            <img 
                (click)='onClickImage01()' 
                [class.selected]="outsetBorderImage01 == true" 
                [src]='imageContainer[1]'
                [ngStyle]="{'max-width': 100, 'width': myWidth}">
            <img 
                (click)='onClickImage02()' 
                [class.selected]="outsetBorderImage02 == true" 
                [src]='imageContainer[2]'
                [ngStyle]="{'max-width': 100, 'width': myWidth}">
        </div>
    </div>

    <div class='row center'>
        <div class="col-xs-12">
            <img 
                (click)='onClickImage03()' 
                [src]='imageContainer[3]'
                [class.selected]="outsetBorderImage03 == true" 
                [ngStyle]="{'max-width': 100, 'width': myWidth}">
            <img 
                (click)='onClickImage04()' 
                [src]='imageContainer[4]'
                [class.selected]="outsetBorderImage04 == true" 
                [ngStyle]="{'max-width': 100, 'width': myWidth}">
            <img 
                (click)='onClickImage05()' 
                [src]='imageContainer[5]'
                [class.selected]="outsetBorderImage05 == true" 
                [ngStyle]="{'max-width': 100, 'width': myWidth}">
        </div>
    </div>

    <div class='row center'>
        <div class="col-xs-12">
            <img 
                (click)='onClickImage06()' 
                [src]='imageContainer[6]'
                [class.selected]="outsetBorderImage06 == true" 
                [ngStyle]="{'max-width': 100, 'width': myWidth}">
            <img 
                (click)='onClickImage07()' 
                [src]='imageContainer[7]'
                [class.selected]="outsetBorderImage07 == true" 
                [ngStyle]="{'max-width': 100, 'width': myWidth}">
            <img 
                (click)='onClickImage08()' 
                [src]='imageContainer[8]'
                [class.selected]="outsetBorderImage08 == true" 
                [ngStyle]="{'max-width': 100, 'width': myWidth}">
        </div>
    </div>
  </div>
</div>