.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-large {
    height: auto;
    width: 300px;
}
.img-default {
    max-width: 100%;
    width: 100px;
}
.img-small {
    max-width: 100%;
}
.img-extra-small {
    max-width: 100%;
    height: 50
}

.row {
    padding-bottom: 4px;
}

.example-radio-group {
    display: inline-flex;
    flex-direction: column;
}

.example-radio-button {
    margin: 5px;
}

.example-selected-value {
    margin: 15px 0;
}

.selected {
    border-style: outset;
}
  